body {
  background-color: white;
  font-family: "Audiowide", sans-serif;
  width: 100%;



}

nav {
  height: 70px;
  width: 97%;
  background-color: black;
 
  padding: 10px;
  margin: auto;

  margin-bottom: 50px;

}

nav>.nav-header {
  display: inline;

}

nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;

  padding: 10px 10px 10px 10px;
  margin-top: 0px;

}

.nav-title img {
  margin-top: 0px;
  margin-right: 10px;
  float: left;

  display: inline;

}

.nav-title p {
  display: inline;

}

nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;

}

nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  color: white;
  text-decoration: none;


}

main {
  width: 80%;
  margin: auto;
}

.flex-box {
  display: flex;
  gap: 5px;
  width: 100%;
  align-content: center;
  text-align: center;
}

.Administrationtdiv {
  width: 25%;
}

.Financediv {
  width: 25%;
}

.Marketingdiv {
  width: 25%;
}

.Developmentdiv {
  width: 25%;

}

.cards {
  width: 100%;
  margin-bottom: 5px;
  height: 370px;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding: auto;

  border-radius: 10px;
  background-color: #477D57;

}

.cards>img {
  width: 85%;
  height: 200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

footer {
  padding-top: 10px;
  margin-bottom: 0px;
  width: 97%;
  height: 120px;
  text-align: center;
  background-color: black;
  margin-top: 10%;
  color: white;
  margin: auto;
}

a {

  padding: 10px;
  text-decoration: none;
font-size: larger;
}